.seat.selected {
    background-color: red;
}

.seat.occupied{
    background-color: blue;

}

.seat-map{
    margin-top: 150px;
}

.button{
    width: 50px;
    background-color: lightblue;
    padding: 10px 20px 10px 20px;
}